{% extends 'EnsJobeetBundle::layout.html.twig' %}
{% form_theme edit_form _self %}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ensjobeet/css/job.css') }}" type="text/css" media="all" />
{% endblock %}
{% block content %}
    <h1>Job edit</h1>
    <form action="{{ path('ens_job_update', { 'token': entity.token }) }}" method="post" {{ form_enctype(edit_form) }}>
        {% include 'EnsJobeetBundle:Job:_params.html.twig' with {'edit_form': form} %}
    </form>
{% endblock %}